<div *ngIf="movie">
  <table>
    <tr>
      <th>MovieName</th>
      <th>BroughtBy</th>
      <th>Director</th>
      <th>Rating</th>
    </tr>
    <tr>
      <td>{{movie.MovieName}}</td>
      <td>{{movie.BroughtBy}}</td>
      <td>{{movie.Director}}</td>
      <td>{{movie.Rating}}</td>
      <td></td>
    </tr>
  </table>

  Reviews:

<div *ngIf="movieReviews">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let movieReview of movieReviews">
            <span id="movieRating">{{movieReview.MovieRating}}</span>
            {{movieReview.MovieReviewText}}
            {{movieReview.ReviewerFirstName}}
            {{movieReview.ReviewerLastName}}
          </li>
        </ul>
</div>
