<!--Displaying Current Movie-->
<div [hidden]="hideCurrentMovieBoolean">
<div class="container">
<div *ngIf="movieWithReviews">
    <div class="card">
      <h5 class="card-header">{{movieWithReviews.MovieName}}</h5>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Arvosana {{movieWithReviews.Rating | number: '1.2-2'}} 
            <p *ngIf="noReviews">Elokuvalla ei ole arvosteluja.</p>
          </h6>
          <p class="card-text"></p>
          <button class="btn-primary" (click)="editing()" >Muokkaa</button>
          <button class="btn-primary" (click)="save()" >Tallenna</button>
          <button class="btn-danger" (click)="remove()">Poista</button>
          
        </div>
      </div>

      <div *ngIf="editingBoolean">
        <label>Nimi:</label>
          <input type="text" [(ngModel)]="movieWithReviews.MovieName"/>
      </div>
</div>

<br/>

<button (click)="showFormToggle()" class="btn btn-primary">Näytä uuden arvostelun lisääminen</button>

<br/>

<div *ngIf="noReviewsToShow">
  <p>Elokuvalla ei ole arvosteluja</p>
</div>

<!--FORM -->
<div [hidden]="!showForm" class="panel panel-primary">
    <div class="panel-heading">Lisää uusi arvostelu</div>
    <div class="panel-body">
      <div>
          <form [formGroup]="formGroupMovieReview" (ngSubmit)="handleSubmit(formGroupMovieReview)">
              <div class="form-group">
                  <label for="movieReviewText">Arvostelu</label>
                  <br/>
                  <textarea class="form-control" type="text" formControlName="movieReviewText" placeholder="Arvostelu" rows="3"></textarea>
              </div>
            
              <div class="form-group">
                  <label>Arvostelija</label>
                  <select class="form-control" formControlName="reviewer">
                    <option *ngFor="let person of people" [value]="person.PersonID">{{person.FirstName}}</option>
                  </select>
              </div>
            
              <div class="form-group">
                  <label>Arvosana</label>
                  <br/>
                  <input class="form-control" type="number" formControlName="movieRating" placeholder="Arvosana">
              </div>
              <div class="panel-footer">
                  <button class="btn btn-primary mb-2">Lisää uusi arvostelu</button>
                <div class="alert alert-success" [hidden]="reviewNotSent">
                    <strong>Uusi arvostelu lisättiin.</strong>
                </div>
              </div>
            </form>
        </div>
    </div>
</div>
</div>

<br/>
<!--Reviews-->
<div *ngIf="movieReviews" [(ngModel)]="movieReviews" name="movieReviews" ngDefaultControl >
    <div class="card" *ngFor="let movieReview of movieReviews">
        <div class="card-body">
          <h5 class="card-title">{{movieReview.ReviewerFirstName}} {{movieReview.ReviewerLastName}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Arvosana {{movieReview.MovieRating}}</h6>
          <p class="card-text">{{movieReview.MovieReviewText}}</p>
        </div>
      </div>
</div>

<div class="alert alert-success" *ngIf="hideCurrentMovieBoolean">
  <p>Elokuva poistettu</p>
</div>
</div>
