<p>
  movielist works!
</p>

<div *ngIf="movies" >
  <button (click)="refreshData()">Hae uusimmat elokuvat</button>
  <ul>
    <li *ngFor="let movie of movies" (click)="editMovie(movie)" >
      <span>
        {{movie.MovieID}} {{movie.Name}} {{movie.Details}}
      </span>
    </li>
  </ul>

  <div *ngIf="selectedMovie">
    <h2>Elokuvan muokkaus</h2>
    <label>
      Uusi nimi:
      <input [(ngModel)]="selectedMovie.Name" />
    </label>
    <br />
    <label>Uudet tiedot:
      <input [(ngModel)]="selectedMovie.Details"/>
    </label>
      <button (click)="updateMovie()">Tallenna tiedot</button>
    <br />
</div>

<div>
  <h2>Lisää uusi elokuva</h2>
  <label>
    Nimi:
    <input [(ngModel)]="movieName" /> {{movieName}}
  </label>
  <br />
  <br />
  <label>
    Tiedot:
    <input [(ngModel)]="movieDetails" /> {{movieDetails}}
  </label>


  <button (click)="sendNewMovie()">Lisää uusi elokuva </button>
</div>

